    <label class="title-label"for="title">Goal Name: </label>
    <input type="text" class="title-input" name="title" id="goal-title" placeholder="Enter name here ...">
    <div class="duration-type-label">Duration: </div>
  <input class="longterm-box" type="radio" name="type" value="long term" checked>
  <label class="longterm-label" for="long term">
    Long Term
  </label>
  <input class="shortterm-box" type="radio" name="type" value="short term">
  <label class="shortterm-label" for="shortterm-box">
    Short Term
  </label>
  <div class="description-container">
    <label class="description-label" for="description">Description: </label>
    <textarea class="description-input" name="description" id="goal-description" rows="5" placeholder="Enter description here ..."></textarea>
  </div>
