  <div class="form-group">
      <input type="hidden" name="goalId" value="{{goals._id}}">
    <input type="text" name="updateTitle" class="update-title-input" id="updateTitle" placeholder="Update title goes here ... ">
  </div>
  <div class="form-group">
    <textarea class="update-content-input" name="updateContent"id="update-content" rows="8" placeholder="What have you been doing to get you closer to your goals?"></textarea>
  </div>
