
<h1 class="edit-goals-header">Edit Goal</h1>

<div class="goals-edit-form">
    <form action="/goals/{{goal._id}}?_method=PUT" method="post">
        {{> goals-form}}
        <button class="apply-edits-btn" type="submit">Apply Edits</button>
    </form>
</div>
