
<h1 class="add-goal-header">Add Goal</h1>
<div class="new-form-container">
    <form action="/goals" method="post">
        {{> goals-form}}
        <button class="save-goal-btn">Save</button>
    </form>
</div>

<!--
PARTIAL WAS NOT WORKING, NEED TO FIGURE OUT WHY
"Error: The partial goals-form could not be found" -->
