<div class="home-container">
    <h1 class="home-title">Dreamboard</h1>
    <h2 class="home-byline">Turn Your Dreams Into Reality</h2>
    <div class="home-btn-container">
        <a class="home-signup" href="/signup">Sign Up</a>
        <a class="home-login" href="/login">Login</a>
    </div>
</div>
