<h1>Dreamboard</h1>
<h2>Turn Your Dreams Into Reality</h2>

<p>Dreamboard helps people achieve there goals and dreams by helping them plan out course of action and hold them accountable by providing a spcae to post updates on how they are acting on their goals.</p>

<a href='/signup'>Login in or Sign Up to start!</a>
<div>already have an account? <a href="/login">Login</a></div>
