

<div class="auth-container">
    <h1 class="auth-header">Welcome Back</h1>
    <form action="/login" method="post">
        <div class="auth-form-container">
            <label class="auth-label" for="username">Username</label>
            <input type="text" name="username" placeholder="Username"class="username-input">
            <label class="auth-label" for="password">Password</label>
            <input type="password" name="password" placeholder="Password" class="password-input">
            <button class="auth-submit" type="submit">Login</button>
            <small class="login-question">Don't have an account? <a class="login-question-link" href="/signup">Click Here!</a></small>
        </div>
    </form>
</div>



<!-- <h1 class="login-header">Welcome Back</h1>
<h2 class="login-sub-head">Login</h2>
<form action="/login" method="post">
    <div class="signup-form-container">
        <label for="username">Username</label>
        <input type="text" name="username" class="username-input">
        <label for="password">Password</label>
        <input type="password" name="password" class="password-input">
        <button type="submit">Login</button>
    </div>
</form> -->
