
<h1 class="signup-header">Create an Account Today</h1>
<form action="/signup" method="post">
    <div class="signup-form-container">
        <label for="email-input">Email</label>
        <input type="email" name="email" class="email-input">
        <label for="username">Username</label>
        <input type="text" name="username" class="username-input">
        <label for="password">Password</label>
        <input type="password" name="password" class="password-input">
        <button type="submit">Sign Up</button>
    </div>

</form>
