<div class="auth-container">
    <h1 class="auth-header">Create an Account Today</h1>
    <form action="/signup" method="post">
        <div class="auth-form-container">
            <label class="auth-label" for="email-input">Email</label>
            <input type="email" name="email" placeholder="johndoe@email.com" class="email-input">
            <label class="auth-label" for="username">Username</label>
            <input type="text" name="username" placeholder="Username"class="username-input">
            <label class="auth-label" for="password">Password</label>
            <input type="password" name="password" placeholder="Password" class="password-input">
            <button class="auth-submit" type="submit">Sign Up</button>
            <small class="login-question">Already have an account? <a class="login-question-link" href="/login">Click Here!</a></small>
        </div>
    </form>
</div>
