<h1 class="edit-update-header">Edit Update</h1>
<div class="edit-update-page-container">
    <form action="/goals/{{update.goalId}}/updates/{{update._id}}?_method=PUT" method="post">
        <input type="hidden" name="goalId" value="{{update.goalId}}">
        {{> updates-form}}
        <button type="submit">Apply Edit</button>
    </form>
</div>
