/*************
---Color Scheme and fonts:
Colors:

-Dark Blue #3C457D
-Really Dark Blue: #323545
-light blue #B1BBEC
-medium blue #536ADE
-off white: #E6E8F4


    ***************/



* {
    font-family: 'Arvo', serif;
}
body {
    font-size: 24px;
    background:repeating-linear-gradient(45deg, rgb(50, 53, 69) 15%, rgb(60, 69, 125) 16%, rgb(83, 106, 222) 81%);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    color: black;
    margin-left: 0px;
    margin-top: 0px;
    margin-right: 0px;
}

h1 h2 h3 {

}


.auth-nav {
    background-color: #E6E8F4;
    width: 100%;
    height: 100%;
    margin-top: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: sticky;
    top: 0px;
}

.dreamboard-nav {
    color: #536ADE;
    margin-left: 16px;
    margin-top: 8px;
    font-weight: 700;
    font-style: italic;
    font-size: 1.2em;
    transition: all 200ms;
    text-decoration: none;
}
.dreamboard-nav:visited {
    color: #536ADE;
    text-decoration: none;
}



.dreamboard-nav:hover {
    color: #3C457D;
    cursor: pointer;
}
/* 316cfe --> TODO: COLOR I WANT TO USE AS ACCENT */
.main-nav-list {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    list-style: none;
    margin-top: 0px;
    margin-left: 0px;
}
.main-nav-item {
    margin-right: 32px;
    color: #536ADE;
    transition: all 300ms;
    margin-top: 16px;
}

.main-nav-item:hover {
    transform: scale(1.1);
    color: #3C457D;
}
.main-nav-link {
    text-decoration: none;
    color: #536ADE;
    font-size: .75em;
    transition: all 300ms;
}
.main-nav-link:hover {
    color: #3C457D;
    transform: scale(1.1);
}

.main-nav-link:visited {

}



/*---------------------------------------
------------HOME PAGE STYLING ------------
------------------------------------------*/
.home-container {
    background-color: #E6E8F4;
    opacity: 0.9;
    display: flex;
    flex-direction: column;
    width: 75%;
    height: 100%;
    margin: auto;
    margin-top: 256px;
    justify-content: center;
    text-align: center;
    border-radius: 32px;
    box-shadow: 6px 8px 9px 1px rgba(0,0,0,0.58);
    padding-bottom: 32px;

}

.home-title {
    color: #323545;
    margin-bottom: 0px;
    font-size: 3em;
    text-decoration: none;
}


.home-byline {
    margin-top: 32px;
    color: #323545;
    text-decoration: none;
}


.home-btn-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-evenly;

}

.home-signup {
    background-color: rgba(236, 84, 130, 1);
    width: 20%;
    margin: auto;
    margin-bottom: 40px;
    padding: 8px;
    text-decoration: none;
    color: white;
    border-radius: 24px;
    transition: all 500ms;
}
.home-signup:hover {
    transform: scale(1.15);
}
.home-signup:visited {
    color: white;
    text-decoration: none;
}
.home-login {
    background-color: rgba(236, 84, 130, 1);
    width: 20%;
    margin: auto;
    padding: 8px;
    text-decoration: none;
    color: white;
    border-radius: 24px;
    transition: all 500ms;
}

.home-login:hover {
    transform: scale(1.15);
}

.home-login:visited {
    color: white;
    text-decoration: none;
}

/*---------------------------------------
---------LOGIN/SIGNUP PAGES -------------
----------------------------------------*/
/* SIGN UP */
.auth-container {
    display: flex;
    flex-direction: column;
    margin-top: 120px;

}
.auth-header {
    text-align: center;
    color: white;
    text-shadow: 3px 3px 5px rgba(0,0,0,0.6);


}

.auth-form-container {
    display: flex;
    flex-direction: column;
    width: 50%;
    opacity: 0.9;
    border-radius: 32px;
    justify-content: space-evenly;
    margin: auto;
    box-shadow: 6px 8px 9px 1px rgba(0,0,0,0.58);
    background-color: #E6E8F4;
    padding: 24px;
    padding-bottom: 32px;

}
.auth-label {
    font-size: .9em;
    color: #3C457D;
}

.email-input {
    margin-bottom: 24px;
    padding: 8px;
    border-radius: 16px;
    color: #3C457D;
    font-size: .6em;
}
.email-input:focus {
    outline: none;
}
.username-input {
    margin-bottom: 24px;
    padding: 8px;
    border-radius: 16px;
    color: #3C457D;
    font-size: .6em;
}

.username-input:focus {
    outline: none;
}

.password-input {
    margin-bottom: 24px;
    padding: 8px;
    border-radius: 16px;
    color: #3C457D;
    font-size: .6em;
}
.password-input:focus {
    outline: none;
}

.auth-submit {
    width: 30%;
    margin: auto;
    background-color: rgba(236, 84, 130, 1);
    margin-bottom: 40px;
    padding: 8px;
    border-radius: 24px;
    color: white;
    font-size: .85em;
    margin-top: 32px;
    transition: all 500ms;
}
.auth-submit:hover {
    transform: scale(1.15);
    cursor: pointer;
}

.login-question {
    text-align: center;
    font-size: .5em;
}

/********************
---DASHBAORD--Section ----
**********************/
.goalboard-header {
    text-align: center;
    color: white;
    font-size: 2.4em;
    text-align: center;
    color: white;
    text-shadow: 3px 3px 5px rgba(0,0,0,0.6);



}

.index-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.side-nav-container {
    display: flex;
    flex-direction: column;
    margin-right: 150px;
    padding-left: 15px;
    padding-right: 30px;
    width: 15%;
}

.sticky-div {
    position: sticky;
    top: 72px;
}




.card-container {
    display: flex;
    flex-direction: column;

}
.accomplished-background {
    background-color: #4caf50;
    opacity: 0.75;
    width: 30%;
    border-radius: 24px;
    margin: auto;
    margin-bottom: 32px;
    transition: all 550ms;

}

.accomplished-background:hover {
    box-shadow: 3px 7px 174px 32px rgba(255,215,0,0.75);
    transform: scale(1.2)

}
.goal-accomplished-header {
    font-size: 1em;
    text-shadow: 2px 1px 12px rgba(255,215,0,0.7);

}
.goal-card {
    display: flex;
    flex-direction: column;
    float: left;
    flex-wrap: wrap;
    background-color: #E6E8F4;
    height: 100%;
    width: 90%;
    margin-right: 350px;
    margin-bottom: 64px;
    text-align: center;
    border-radius: 24px;
    padding: 16px;
    box-shadow: 6px 8px 9px 1px rgba(0,0,0,0.58);
    color: #3C457D;

}

.goal-title {
    margin-bottom: 16px;
    margin-top: 0px;

}
.time-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.goal-time {
    margin-top: 0px;
    font-size: 0.6em;
    margin-bottom: 16px;
}


.goal-type {
    margin-top: 0px;
    font-size: 0.6em;
    margin-bottom: 16px;
}
.content-divider {
    width: 100%;
    border-bottom: solid;
    border-color: #3C457D;

}
.goal-description-header {
    text-align: left;
    margin-left: 32px;
    font-size: 1em;
    text-align: left;
    color: #3C457D;
}

.card-btns {
    display: flex;
    justify-content: space-between;
}

.show-btn {
    background-color: rgba(236, 84, 130, 1);
    width: 12em;
    margin-bottom: 16px;
    padding: 8px;
    text-decoration: none;
    color: white;
    font-size: .55em;
    border-radius: 8px;
    transition: all 500ms;
}
.show-btn:hover {
    transform: scale(1.15);
    cursor: pointer;
}

.accomplish-btn {
    background-color: rgba(236, 84, 130, 1);
    width: 12em;
    margin-bottom: 16px;
    padding: 8px;
    font-size: .55em;
    text-decoration: none;
    color: white;
    border-radius: 8px;
    transition: all 500ms;
}
.accomplish-btn:hover {
    transform: scale(1.15);
    cursor: pointer;
}


/***** ----Side bar contents ---- *****/
.new-goal-btn {
    background: rgba(236, 84, 130, 1);
    opacity: 0.8;
    width: 8em;
    outline: none;
    color: white;
    padding: 8px;
    border-left: none;
    border-color: white;
    font-size: 1em;
    border-width: medium;
    transition: all 500ms;
}



.new-goal-btn:hover {
    transform-origin: left;
    transform: scaleX(1.15);
    cursor: pointer;
}

.edit-goals-btn {
    background: rgba(236, 84, 130, 1);
    opacity: 0.8;
    width: 8em;
    outline: none;
    color: white;
    padding: 8px;
    border-left: none;
    border-color: white;
    margin-top: 24px;
    font-size: 1em;
    border-width: medium;
    transition: all 500ms;
}
.edit-goals-btn:hover {
    transform-origin: left;
    transform: scaleX(1.15);
    cursor: pointer;
}

.option-btn-container {
    margin-right: 32px;
}








/*** DREAM DISPLAY CARD ****/




/*********************
------NEW--DREAM--SECTION---
**********************/
.add-goal-header {
    text-align: center;
    margin-top: 64px;
    color: white;
    font-size: 2.5em;
    text-align: center;
    color: white;
    text-shadow: 3px 3px 5px rgba(0,0,0,0.6);


}

.new-form-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #E6E8F4;
    height: 100%;
    width: 65%;
    margin: auto;
    margin-bottom: 64px;
    text-align: center;
    border-radius: 24px;
    padding: 16px;
    box-shadow: 6px 8px 9px 1px rgba(0,0,0,0.58);
    color: #3C457D;
}

/****----FORM ITEMS----****/


.title-input {
    margin-bottom: 24px;
    border: none;
    border-bottom: solid;
    background-color: #E6E8F4;
    padding: 8px;
    color: #3C457D;
    font-size: .6em;
    width: 30%;
    font-size: 1em;
}
.title-label {
    font-size: 1em;
    color: #3C457D;
}

.title-input:focus {
    outline: none;
}
.duration-type-label {
    font-size: 1.3em;
}
.shortterm-label {
    font-size: .8em;
}

.longterm-label {
    font-size: .8em;
}
.description-container {
    margin-top: 32px;
    display: flex;
    flex-direction: column;
}

.description-label {
    /* fix spacing and font */
    margin-top: 24px;
    text-align: left;
    margin-left: 122px;

}
.description-input {
    width: 75%;
    border-radius: 8px;
    font-size: .8em;
    color: inherit;
    margin: auto;
}

.description-input:focus {
    outline: none;
    }
.save-goal-btn {
    background-color: rgba(236, 84, 130, 1);
    width: 12em;
    margin-top: 16px;
    margin-bottom: 16px;
    margin-bottom: 16px;
    padding: 8px;
    text-decoration: none;
    color: white;
    font-size: .55em;
    border-radius: 8px;
    transition: all 500ms;
}

.save-goal-btn:hover {
    transform: scale(1.15);
    cursor: pointer;
}

/*----------------------------
---------EDIT GOALS-----------
------------------------------*/
.edit-goals-header {
    text-align: center;
    margin-top: 64px;
    color: white;
    font-size: 2.5em;
    text-align: center;
    color: white;
    text-shadow: 3px 3px 5px rgba(0,0,0,0.6);
}

.goals-edit-form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #E6E8F4;
    height: 100%;
    width: 65%;
    margin: auto;
    margin-bottom: 64px;
    text-align: center;
    border-radius: 24px;
    padding: 16px;
    box-shadow: 6px 8px 9px 1px rgba(0,0,0,0.58);
    color: #3C457D;
}
.apply-edits-btn {
    background-color: rgba(236, 84, 130, 1);
    width: 12em;
    margin-top: 16px;
    margin-bottom: 16px;
    margin-bottom: 16px;
    padding: 8px;
    text-decoration: none;
    color: white;
    font-size: .55em;
    border-radius: 8px;
    transition: all 500ms;
}

.apply-edits-btn:hover {
    transform: scale(1.15);
    cursor: pointer;
}

/****************************----------------
---SHOW--SINGLE--DREAM--SECTION--
------------*****************************/
.show-goal-card {
    display: flex;
    flex-direction: column;
    float: left;
    flex-wrap: wrap;
    background-color: #E6E8F4;
    height: 100%;
    width: 75%;
    margin: auto;
    margin-top: 64px;
    margin-bottom: 64px;
    text-align: center;
    border-radius: 24px;
    padding: 16px;
    box-shadow: 6px 8px 9px 1px rgba(0,0,0,0.58);
    color: #3C457D;
}
.edit-goal-btn-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.edit-goal-btn {
    background-color: rgba(236, 84, 130, 1);
    width: 9em;
    margin-top: 16px;
    margin-bottom: 16px;
    margin-bottom: 16px;
    padding: 8px;
    font-size: .7em;
    text-decoration: none;
    color: white;
    font-size: .55em;
    border-radius: 8px;
    transition: all 500ms;
}
.edit-goal-btn:hover {
    cursor: pointer;
    transform: scale(1.15);
}
.action-items-header {
    margin-left: 20px;
    margin-top: 30px;
}
.action-item-input {
    width: 30%;
    margin-left: 20px;

}
.show-single-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.new-updates-header {
    margin-top: 50px;
    margin-left: 20px;
}

/*-- new update section --*/
.update-title-input {
    width: 50%;
    margin-left: 20px;
}

.update-content-input {
    width: 50%;
    margin-left: 20px;
}

.save-update-btn {
    margin-left: 20px;
    margin-bottom: 30px;
}

.actionItems-container {
    display: flex;
    flex-direction: column;
    float: left;
    flex-wrap: wrap;
    background-color: #E6E8F4;
    height: 100%;
    width: 75%;
    margin: auto;
    margin-bottom: 64px;
    border-radius: 24px;
    padding: 16px;
    box-shadow: 6px 8px 9px 1px rgba(0,0,0,0.58);
    color: #3C457D;
}
.actionItems-divider {
    width: 100%;
    border-bottom: solid;
    border-color: #3C457D;
}

.updates-container {
    display: flex;
    flex-direction: column;
    float: left;
    flex-wrap: wrap;
    background-color: #E6E8F4;
    height: 100%;
    width: 75%;
    margin: auto;
    margin-bottom: 64px;
    border-radius: 24px;
    padding: 16px;
    box-shadow: 6px 8px 9px 1px rgba(0,0,0,0.58);
    color: #3C457D;
}

.updates-divider {
    width: 100%;
    border-bottom: solid;
    border-color: #3C457D;
}


/******************************
----ACTION ITEMS
*******************************/

#action-items {
    height: 20em;
    width: 70em;
}
.action-items-list {
     display: flex;
    flex-direction: row;
    justify-content: flex-start;

}

.action-item-input {
    margin-bottom: 24px;
    padding: 8px;
    border-radius: 16px;
    color: #3C457D;
    font-size: .6em;
}

.save-action-item-btn {
    color: rgba(236, 84, 130, 1);
    background: none;
    font-weight: 700;
    border: none;
    font-size: 1.2em;
    outline: none;
    transition: all 500ms;

}
.save-action-item-btn:hover {
    transform: scale(1.15);
    cursor: pointer;
}

.action-item-delete-btn {
    outline: none;
    border: none;
    background: none;
    color: rgba(236, 84, 130, 1);
    margin-left: 24px;
    font-size: .8em;
    margin-top: 28px;
    transition: all 500ms;

}
.update-content-input {
    width: 75%;
    border-radius: 8px;
    font-size: .8em;
    color: inherit;
    margin: auto;
    margin-left: 12px;
}
.save-update-btn {
    background-color: rgba(236, 84, 130, 1);
    width: 12em;
    margin-bottom: 16px;
    padding: 8px;
    text-decoration: none;
    color: white;
    font-size: .55em;
    border-radius: 8px;
    transition: all 500ms;
}

.save-update-btn:hover {
    transform: scale(1.15);
    cursor: pointer;
}

.bullet {
    margin-top: 24px;
    margin-right: 8px;
}
.action-item-delete-btn:hover {
    transform: scale(1.15);
    cursor: pointer;
}
.update-title-input {
    margin-bottom: 24px;
    padding: 8px;
    border-radius: 8px;

    color: #3C457D;
    font-size: .6em;
}

.get-updates-edit-btn {
    background-color: rgba(236, 84, 130, 1);
    width: 12em;
    margin-bottom: 16px;
    padding: 8px;
    text-decoration: none;
    color: white;
    font-size: .55em;
    border-radius: 8px;
    transition: all 500ms;
}
.get-updates-edit-btn:hover {
    cursor: pointer;
    transform: scale(1.15);
}
.update-delete-btn {
    background-color: rgba(236, 84, 130, 1);
    width: 12em;
    margin-bottom: 16px;
    padding: 8px;
    text-decoration: none;
    color: white;
    font-size: .55em;
    border-radius: 8px;
    transition: all 500ms;
}
.update-delete-btn:hover {
    cursor: pointer;
    transform: scale(1.15);
}

.update-item-btn-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.action-item-delete-btn:active {
    outline: none;
}



/*------------------------------
--------UPDATES EDIT PAGE---------
---------------------------------*/
.edit-update-header {
    text-align: center;
    color: white;
    text-align: center;
    color: white;
    text-shadow: 3px 3px 5px rgba(0,0,0,0.6);
    font-size: 2.5em;

}
.update-content-label {
    font-size: .9em;
    color: #3C457D;
    margin-right: 65%;

}
.edit-update-page-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #E6E8F4;
    text-align: center;
    height: 100%;
    width: 75%;
    margin: auto;
    margin-bottom: 64px;
    border-radius: 24px;
    padding: 16px;
    box-shadow: 6px 8px 9px 1px rgba(0,0,0,0.58);
    color: #3C457D;

}

.apply-update-edit-btn {
    background-color: rgba(236, 84, 130, 1);
    width: 12em;
    margin-bottom: 16px;
    padding: 8px;
    text-decoration: none;
    color: white;
    font-size: .55em;
    border-radius: 8px;
    transition: all 500ms;
}

.apply-update-edit-btn:hover {
    cursor: pointer;
    transform: scale(1.15);
}

/*-------------------------
-----------EDIT DASHBOARD SECTION------
-----------------------------*/

.delete-goals-header {
    text-align: center;
    color: white;
    text-align: center;
    color: white;
    text-shadow: 3px 3px 5px rgba(0,0,0,0.6);
    font-size: 2.5em;
}

.admin-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #E6E8F4;
    text-align: left;
    height: 100%;
    width: 75%;
    margin: auto;
    margin-bottom: 64px;
    border-radius: 24px;
    padding: 16px;
    box-shadow: 6px 8px 9px 1px rgba(0,0,0,0.58);
    color: #3C457D;
}
.admin-goal-title {
    font-size: 2em;
    color: inherit;
    margin-left: 16px;
}

.admin-goal-description {
    font-size: 1em;
    margin-left: 16px;

}

.goals-delete-btn {
    background-color: rgba(236, 84, 130, 1);
    width: 12em;
    margin-bottom: 16px;
    padding: 8px;
    text-decoration: none;
    color: white;
    font-size: .55em;
    border-radius: 8px;
    transition: all 500ms;
}

.goals-delete-btn:hover {
    transform: scale(1.15);
    cursor: pointer;
}

.admin-divider {
    width: 100%;
    border-bottom: solid;
    border-color: #3C457D;
}
