/*************
---Color Scheme and fonts:
Colors:

-Dark Blue #3C457D
-Really Dark Blue: #323545
-light blue #B1BBEC
-medium blue #536ADE
-off white: #E6E8F4


    ***************/



* {
    font-family: 'Cabin', sans-serif;
}
body {
    font-size: 24px;
    background:repeating-linear-gradient(45deg, rgb(50, 53, 69) 15%, rgb(60, 69, 125) 16%, rgb(83, 106, 222) 81%);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    color: black;
    margin-left: 0px;
    margin-top: 0px;
    margin-right: 0px;
}

h1 h2 h3 {
    font-family: 'Bitter', serif;

}


.auth-nav {
    background-color: #E6E8F4;
    width: 100%;
    height: 100%;
    margin-top: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: sticky;
    top: 0px;
}

.dreamboard-nav {
    color: #536ADE;
    margin-left: 16px;
    font-size: 1em;
    transition: all 200ms;
}

.dreamboard-nav:hover {
    color: #3C457D;
    cursor: pointer;
}
/* 316cfe --> TODO: COLOR I WANT TO USE AS ACCENT */
.main-nav-list {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    list-style: none;
    margin-top: 0px;
    margin-left: 0px;
}
.main-nav-item {
    margin-right: 32px;
    color: #536ADE;
    transition: all 300ms;
    margin-top: 16px;
}

.main-nav-item:hover {
    transform: scale(1.1);
    color: #3C457D;
}
.main-nav-link {
    text-decoration: none;
    color: #536ADE;
    font-size: .75em;
    transition: all 300ms;
}
.main-nav-link:hover {
    color: #3C457D;
    transform: scale(1.1);
}

.main-nav-link:visited {

}



/*---------------------------------------
------------HOME PAGE STYLING ------------
------------------------------------------*/
.home-container {
    background-color: #E6E8F4;
    opacity: 0.9;
    display: flex;
    flex-direction: column;
    width: 75%;
    height: 100%;
    margin: auto;
    margin-top: 256px;
    justify-content: center;
    text-align: center;
    border-radius: 32px;
    box-shadow: 19px -10px 29px -3px rgba(0,0,0,0.71);
    padding-bottom: 32px;

}

.home-title {
    color: #323545;
    margin-bottom: 0px;
    font-size: 3em;
    text-decoration: none;
}


.home-byline {
    margin-top: 32px;
    color: #323545;
    text-decoration: none;
}


.home-btn-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-evenly;

}

.home-signup {
    background-color: rgba(236, 84, 130, 1);
    width: 20%;
    margin: auto;
    margin-bottom: 40px;
    padding: 8px;
    text-decoration: none;
    color: white;
    border-radius: 24px;
    transition: all 500ms;
}
.home-signup:hover {
    transform: scale(1.15);
}
.home-signup:visited {
    color: white;
    text-decoration: none;
}
.home-login {
    background-color: rgba(236, 84, 130, 1);
    width: 20%;
    margin: auto;
    padding: 8px;
    text-decoration: none;
    color: white;
    border-radius: 24px;
    transition: all 500ms;
}

.home-login:hover {
    transform: scale(1.15);
}

.home-login:visited {
    color: white;
    text-decoration: none;
}

/*---------------------------------------
---------LOGIN/SIGNUP PAGES -------------
----------------------------------------*/
/* SIGN UP */
.auth-container {
    display: flex;
    flex-direction: column;
    margin-top: 120px;

}
.auth-header {
    text-align: center;
    color: white;
    text-shadow: 3px 3px 5px rgba(0,0,0,0.6);


}

.auth-form-container {
    display: flex;
    flex-direction: column;
    width: 50%;
    opacity: 0.9;
    border-radius: 32px;
    justify-content: space-evenly;
    margin: auto;
    box-shadow: 19px -10px 29px -3px rgba(0,0,0,0.71);
    background-color: #E6E8F4;
    padding: 24px;
    padding-bottom: 32px;

}
.auth-label {
    font-size: .9em;
    color: #3C457D;
}

.email-input {
    margin-bottom: 24px;
    padding: 8px;
    border-radius: 16px;
    color: #3C457D;
    font-size: .6em;
}
.email-input:focus {
    outline: none;
}
.username-input {
    margin-bottom: 24px;
    padding: 8px;
    border-radius: 16px;
    color: #3C457D;
    font-size: .6em;
}

.username-input:focus {
    outline: none;
}

.password-input {
    margin-bottom: 24px;
    padding: 8px;
    border-radius: 16px;
    color: #3C457D;
    font-size: .6em;
}
.password-input:focus {
    outline: none;
}

.auth-submit {
    width: 30%;
    margin: auto;
    background-color: rgba(236, 84, 130, 1);
    margin-bottom: 40px;
    padding: 8px;
    border-radius: 24px;
    color: white;
    font-size: .85em;
    margin-top: 32px;
    transition: all 500ms;
}
.auth-submit:hover {
    transform: scale(1.15);
    cursor: pointer;
}

.login-question {
    text-align: center;
    font-size: .5em;
}

/********************
---DASHBAORD--Section ----
**********************/
.goalboard-header {
    text-align: center;
    font-size: 2.4em;
    font-family: 'Bitter', serif;



}

.index-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.side-nav-container {
    display: flex;
    flex-direction: column;
    background-color: #E6E8F4;
    margin-right: 150px;
    padding-left: 15px;
    padding-right: 30px;
    width: 15%;
}

.sticky-div {
    position: sticky;
    top: 72px;
}


.side-nav-container a {
    text-decoration: none;
}

.side-nav-container a:hover {
    text-decoration: none;
}

.card-container {
    display: flex;
    flex-direction: column;

}

.goal-card {
    display: flex;
    flex-direction: column;
    float: left;
    flex-wrap: wrap;
    background-color: #E6E8F4;
    height: 100%;
    width: 90%;
    margin-right: 350px;
    margin-bottom: 20px;
    padding: 15px;
    box-shadow: 29px -15px 29px -3px rgba(0,0,0,0.71);

}

.card-btns {
    display: flex;
    justify-content: space-between;
}

.accomlished-btn {

}


/***** ----Side bar contents ---- *****/
.profile-pic {
    padding-left: 20px;
    padding-top: 30px;
    /* Get image to show, round the image */
}
.username-header {
    margin-top: 15px;
    color: #323545;
    padding-left: 20px;
    font-family: 'Bitter', serif;

}

.header-question {
    position: sticky;
    color: #323545;
}

.profile-options {
    margin-top: 3em;
    list-style: none;
    padding-right: 20px;
    height: 100vh;
    position: sticky;
    display: flex;
    flex-direction: column;
}

.profile-list-item {
    margin-top: 50px;
    transition: all 200ms;

}
.profile-list-item:hover {
    transform: scale(1.10);
}

.profile-options-btn {
    border: solid;
    border-color: #316cfe;
    color: white;
    width: 1em;
    height: 4em;
    text-decoration: none;
    padding: auto;
    margin-top: 20px;
    text-align: center;
    padding-top: 8px;
    padding-left: 8px;
    padding-right: 8px;
    transition-property: all;
    transition-duration: 200ms;
    padding-bottom: 8px;
    font-size: .8em;
}
.profile-options-btn:hover {
}

/* .profile-link {
    text-align: center;
    color: #4BC0D9;
    text-decoration: none;



}

.profile-link:hover {
    text-decoration: none;


} */


/*** DREAM DISPLAY CARD ****/




/*********************
------NEW--DREAM--SECTION---
**********************/
.add-goal-header {
    text-align: center;
    margin-top: 25px;
    font-family: 'Bitter', serif;
    color: white;
    font-size: 4em;

}

.new-form-container {
    background-color: white;
    color: #313896;
    width: 50em;
    margin: auto;
    margin-top: 100px;
    padding: 20px;
    font-size: 1.5em;
}

/****----FORM ITEMS----****/
.goal-title-label {
    /* fix font and spacing with input */

}
.title-input {
    width: 100%;
    color: #313896;
    margin-bottom: 30px;
}

.duration-type-label {
    /* fix font size and spacing-- needs margin -- */

}

.description-label {
    /* fix spacing and font */
    margin-top: 30px;

}
.description-input {
    width: 100%;
    color: #313896;
}

.description-input:focus {

    }

.save-goal-btn {
    width: 10em;
    background-color: #313896;
    color: white;
    transition: all 200ms;

}

.save-goal-btn:hover {
    transform: scale(1.1);
    background-color: white;
    color: #313896;
    outline: none;
}



/****************************
---SHOW--SINGLE--DREAM--SECTION--
*****************************/
.show-goal-card {
    margin: auto;
    width: 80%;
    background-color: white;
    padding: 25px;
    margin-top: 50px;
}
.action-items-header {
    margin-left: 20px;
    margin-top: 30px;
}
.action-item-input {
    width: 30%;
    margin-left: 20px;

}

.new-updates-header {
    margin-top: 50px;
    margin-left: 20px;
}

/*-- new update section --*/
.update-title-input {
    width: 50%;
    margin-left: 20px;
}

.update-content-input {
    width: 50%;
    margin-left: 20px;
}

.save-update-btn {
    margin-left: 20px;
    margin-bottom: 30px;
}

.update-container {
    margin-left: 20px;
}


/******************************

*******************************/

#action-items {
    height: 20em;
    width: 70em;
}

.action-item-delete-btn {
    outline: none;
    border: none;
    background: none;
    color: red;

}

.action-item-delete-btn:active {
    outline: none;
}
